<div class="container">
  <div class="container">
    <table class="table">
      <td>
        <% if comment.user.avatar.url.present? %>
          <%= image_tag(comment.user.avatar.thumb.url) %>
        <% end %>
          <div class="comment-rating" data-score="<%= comment.comment_rating %>"></div>
          <%= comment.body %><br/>
          <small>Posted by: </small><%= comment.user.name %>
        <ul>
          <small><%= time_ago_in_words(comment.created_at) %></small>         
          <% if can? :update, comment %>
            <small><%= link_to 'Edit', edit_art_comment_path(comment.art, comment) %></small>
          <% end %>
          <% if can? :destroy, comment %>
            <small><%= link_to 'Delete', art_comment_path(comment.art, comment), method: :delete, data: { confirm: "Are you sure? " } %></small>
          <% end %>
        </ul>
      </td>
    </table>
  </div>
</div>

