<div class="container">
  <h5>Review Art from different Artists</h5>
    <% @arts.each do |art| %>
      <%= image_tag(art.image.medium.url) if art.image? %>
      <h4><%= art.title %></h4><br/>
      <%= art.about %><br/>
      <%= link_to 'Edit', edit_art_path(art), class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Show', art_path(art), class: 'btn btn-info btn-sm' %>
      <%= link_to 'Delete', art_path(art), method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-danger btn-sm' %>
    <% end %><br/><br/><br/>
      <%= link_to 'Create New', new_art_path, class: 'btn btn-dark' %>    
</div>