<div class="container">
  <h1><%= @art.title %><br/></h1><br/>
  <div class="row">
    <div class="col-6">
      <%= image_tag(@art.image.medium.url, alt: 'Image') if @art.image? %>
      <h4 class="avg-rating"> Average Rating </h4>
      <div class="average-review-rating" data-score= "<%= @average_comment %>"></div>
      <span><small>From: </small><%= @art.comments.count %> reviews </span>
    </div><br/>
    <div class="col-6">
      <%= @art.about %><br/>
      <small>created at: <%= @art.created_at %></small><br/><br/>
      <% if can? :update, @art %>
        <%= link_to 'Edit', edit_art_path(@art), class: 'btn btn-primary btn-sm' %>
      <% end %>
        <%= link_to 'Home', root_path, class: 'btn btn-dark btn-sm' %>
      <% if can? :destroy, @art %>
        <%= link_to 'Delete', art_path(@art), method: :delete, data: { confirm: 'Are you sure? '}, class: 'btn btn-danger btn-sm' %>
      <% end %>
    </div>
  </div><br/>
  <h5>Comment/s: </h5>
  <% if @art.comments.present? %>
  <% else %>
    <p>No Comments Yet</p>
  <% end %>
  <%= render @art.comments %><br/>
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% end %>
</div>

<script>
  $('.comment-rating').raty({
    halfShow : false,
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>